@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
.audioPlayer {
 
  padding: 10px;
  border: 3px solid saddlebrown;
  background-color: rgb(3, 35, 54);
  color: rgb(96, 74, 7);
  
}
.songs{
  background-color: rgb(32, 7, 56);
}