@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
.audioPlayer {
 
  padding: 10px;
  border: 3px solid saddlebrown;
  background-color: rgb(167, 177, 183);
  color: rgb(246, 245, 242);
  font-family: cursive;
  
}
.songs{
  color: rgb(82, 84, 96);
}